# **ML Optimal BUS Allocation System**

In [2]:
import pandas as pd
ehs = pd.read_csv(r"C:\Users\Oke\Downloads\EHS_dataset_2018-2019\UKDA-8717-tab\tab\ehs_1819_teaching.tab", sep='\t')
ehs.head()

,serialanon,aagfh18,aagfh18new,gorehs,hhcomp1,hhtype6,hhsizex,ndepchild,noUnits1,agehrp4x,...,tenure2,tenure4,hhltsick,mortwkx,rentwkx,amthbenx,housbenx,JOINTINCx,HYEARGRx,hhvulx
0,18190000002,810.653613,0.462654,4,7,5,1,0,1,3,...,4,2,2,-9.000000,86.769231,0.0,2,6760.00000,6760.00000,2
1,18190000005,2757.284121,1.573631,10,7,5,1,0,1,3,...,2,1,1,80.769231,-9.000000,-9.0,-9,41175.00000,41175.00000,2
2,18190000006,708.592029,0.404406,1,1,1,2,0,1,4,...,4,2,1,-9.000000,107.000000,0.0,2,13336.00000,13336.00000,2
3,18190000008,3458.741069,1.973965,10,1,2,4,1,1,3,...,2,1,2,570.623527,-9.000000,-9.0,-9,54317.52966,54317.52966,2
4,18190000012,862.639366,0.492324,5,1,1,2,0,1,3,...,1,1,1,0.000000,-9.000000,-9.0,-9,46602.50000,46602.50000,2

In [3]:
ehs.columns

Index(['serialanon', 'aagfh18', 'aagfh18new', 'gorehs', 'hhcomp1', 'hhtype6',
       'hhsizex', 'ndepchild', 'noUnits1', 'agehrp4x', 'agehrp6x', 'emphrpx',
       'ethhrp2x', 'sexhrp', 'bedstdx', 'nbedsx', 'bedrqx', 'nrooms1a',
       'sharer', 'accomhh1', 'lenresb', 'ftbuyer', 'tenure2', 'tenure4',
       'hhltsick', 'mortwkx', 'rentwkx', 'amthbenx', 'housbenx', 'JOINTINCx',
       'HYEARGRx', 'hhvulx'],
      dtype='object')

In [4]:
epc = pd.read_csv(r"C:\Users\Oke\Downloads\epc_dataset\domestic-E07000095-Broxbourne\certificates.csv", sep=',')
epc.head(2)

C:\Users\Oke\AppData\Local\Temp\ipykernel_21932\3004108577.py:1: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  epc = pd.read_csv(r"C:\Users\Oke\Downloads\epc_dataset\domestic-E07000095-Broxbourne\certificates.csv", sep=',')

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,CONSTITUENCY_LABEL,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE
0,543418525652010092113573890200980,"59, King Edward Road",NaN,NaN,EN8 7HY,9054500868,B,B,85,85,...,Broxbourne,WALTHAM CROSS,NO DATA!,2010-09-21 13:57:38,NaN,NaN,NaN,148013193.0,Address Matched,101
1,1609256349302018022111362651682498,"58, Winford Drive",NaN,NaN,EN10 6PP,392346578,F,C,34,80,...,Broxbourne,BROXBOURNE,England and Wales: 1967-1975,2018-02-21 11:36:26,unknown,NaN,NaN,148026589.0,Address Matched,100

In [5]:
epc.columns

Index(['LMK_KEY', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3', 'POSTCODE',
       'BUILDING_REFERENCE_NUMBER', 'CURRENT_ENERGY_RATING',
       'POTENTIAL_ENERGY_RATING', 'CURRENT_ENERGY_EFFICIENCY',
       'POTENTIAL_ENERGY_EFFICIENCY', 'PROPERTY_TYPE', 'BUILT_FORM',
       'INSPECTION_DATE', 'LOCAL_AUTHORITY', 'CONSTITUENCY', 'COUNTY',
       'LODGEMENT_DATE', 'TRANSACTION_TYPE', 'ENVIRONMENT_IMPACT_CURRENT',
       'ENVIRONMENT_IMPACT_POTENTIAL', 'ENERGY_CONSUMPTION_CURRENT',
       'ENERGY_CONSUMPTION_POTENTIAL', 'CO2_EMISSIONS_CURRENT',
       'CO2_EMISS_CURR_PER_FLOOR_AREA', 'CO2_EMISSIONS_POTENTIAL',
       'LIGHTING_COST_CURRENT', 'LIGHTING_COST_POTENTIAL',
       'HEATING_COST_CURRENT', 'HEATING_COST_POTENTIAL',
       'HOT_WATER_COST_CURRENT', 'HOT_WATER_COST_POTENTIAL',
       'TOTAL_FLOOR_AREA', 'ENERGY_TARIFF', 'MAINS_GAS_FLAG', 'FLOOR_LEVEL',
       'FLAT_TOP_STOREY', 'FLAT_STOREY_COUNT', 'MAIN_HEATING_CONTROLS',
       'MULTI_GLAZE_PROPORTION', 'GLAZED_TYPE', 'GLAZED_AREA',
       'EXTENSION_COUNT', 'NUMBER_HABITABLE_ROOMS', 'NUMBER_HEATED_ROOMS',
       'LOW_ENERGY_LIGHTING', 'NUMBER_OPEN_FIREPLACES', 'HOTWATER_DESCRIPTION',
       'HOT_WATER_ENERGY_EFF', 'HOT_WATER_ENV_EFF', 'FLOOR_DESCRIPTION',
       'FLOOR_ENERGY_EFF', 'FLOOR_ENV_EFF', 'WINDOWS_DESCRIPTION',
       'WINDOWS_ENERGY_EFF', 'WINDOWS_ENV_EFF', 'WALLS_DESCRIPTION',
       'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF', 'SECONDHEAT_DESCRIPTION',
       'SHEATING_ENERGY_EFF', 'SHEATING_ENV_EFF', 'ROOF_DESCRIPTION',
       'ROOF_ENERGY_EFF', 'ROOF_ENV_EFF', 'MAINHEAT_DESCRIPTION',
       'MAINHEAT_ENERGY_EFF', 'MAINHEAT_ENV_EFF', 'MAINHEATCONT_DESCRIPTION',
       'MAINHEATC_ENERGY_EFF', 'MAINHEATC_ENV_EFF', 'LIGHTING_DESCRIPTION',
       'LIGHTING_ENERGY_EFF', 'LIGHTING_ENV_EFF', 'MAIN_FUEL',
       'WIND_TURBINE_COUNT', 'HEAT_LOSS_CORRIDOR', 'UNHEATED_CORRIDOR_LENGTH',
       'FLOOR_HEIGHT', 'PHOTO_SUPPLY', 'SOLAR_WATER_HEATING_FLAG',
       'MECHANICAL_VENTILATION', 'ADDRESS', 'LOCAL_AUTHORITY_LABEL',
       'CONSTITUENCY_LABEL', 'POSTTOWN', 'CONSTRUCTION_AGE_BAND',
       'LODGEMENT_DATETIME', 'TENURE', 'FIXED_LIGHTING_OUTLETS_COUNT',
       'LOW_ENERGY_FIXED_LIGHT_COUNT', 'UPRN', 'UPRN_SOURCE', 'REPORT_TYPE'],
      dtype='object')